@import "uikit/uikit.less";
@import "../../../assets/less/pagekit.less";

/* ========================================================================
   Theme
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Header
 ========================================================================== */

.tm-header {
    margin-bottom: 70px;
    background: @navbar-background;
    box-shadow: 0 1px 3px #eee;
    color: @global-contrast-color;
}

.tm-headerbar {
    margin: 60px 0;
}

.tm-header-primary {
    position: relative;
    margin-left: -(24px + 30px);
}

/*
 * Icon
 */

.tm-icon {
    margin-right: 30px;
}

/*
 * Heading
 */

.tm-heading {
    margin: 0;
    color: @global-contrast-color;
}


/*
 * Navbar
 */

.tm-navbar {
    margin-top: -(@navbar-nav-height);
    margin-left: -(@navbar-nav-padding-horizontal - 1px);
}

/* Contrast
 ========================================================================== */

.tm-contrast a { color: rgba(255,255,255,0.7); }

.tm-contrast a:hover { color: @global-contrast-color; }


/*
 * Icon Hover
 */

.tm-contrast .uk-icon-hover { color: rgba(255,255,255,0.5); }

.tm-contrast .uk-icon-hover:hover { color: @global-contrast-color; }


/* Dropdown
 ========================================================================== */

[data-uk-dropdown*='click'] { cursor: pointer; }

/*
 * Dropdown with Sortable Icons
 */

.tm-dropdown { width: 350px; }

/* Phone landscape and smaller */
@media (max-width: @breakpoint-small-max) {

    .tm-dropdown {
        left: -10px;
        right: -10px;
        width: auto;
        margin-top: 0;
    }

}

.tm-sortable-dragged .pk-panel-icon {
    background: @dropdown-background;
    border: 1px solid @global-border;
    border-radius: 3px;
}


/* Option toolbar
========================================================================== */

.tm-toolbar {
    border-bottom: 1px solid #e5e5e5;
}


/* Main
 ========================================================================== */

.tm-main { margin-bottom: 25px; }

@media (max-width: @breakpoint-small-max) {

    .tm-main { margin-bottom: 15px; }

}


/* Pages for login, error, etc
 ========================================================================== */

/*
 * Helper class
 */

.tm-height-4-5 { height: 80%; }

/*
 * Container
 */

.tm-container {
    width: 500px;
    max-width: ~"calc(100% - 40px)";
    padding: 20px;
}

.tm-container-small { width: 300px; }
