@import "uikit/uikit.less";
@import "../../../assets/less/pagekit.less";

/* ========================================================================
   Theme
 ========================================================================== */

/*
 * Force vertical scrollbar
 */

html { overflow-y: scroll; }


/* Font smoothing
 ========================================================================== */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset */
.uk-navbar-nav > li > a,
.uk-badge {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}


/* Header
 ========================================================================== */

.tm-header {
    position: relative;
    margin-bottom: 65px;
    background: @navbar-background;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    color: @global-contrast-color;
}


/* Brand
 ========================================================================== */

.tm-brand {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
}


/* Headerbar
 ========================================================================== */

.tm-headerbar { height: 60px; }

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-headerbar { height: 150px; }

}

.tm-headerbar-primary { position: relative; }

/* Large screen and bigger */
@media (min-width: @breakpoint-xlarge) {

    .tm-headerbar-primary { margin-left: -(22px + 28px); } // Icon Width + Margin

}


/* Icon Menu
 ========================================================================== */

.tm-icon-menu {
    color: @global-contrast-color;
    font-size: 22px;
}

/* Tablet and bigger */
@media (min-width: @breakpoint-medium) {

    .tm-icon-menu {
        margin-right: 28px;
        color: rgba(255,255,255,0.6);
        -webkit-transition: color 0.05s linear;
        transition: color 0.05s linear;
    }

    .tm-headerbar-primary:hover .tm-icon-menu,
    .tm-headerbar-primary.uk-open .tm-icon-menu { color: @global-contrast-color; }

}


/* Heading
 ========================================================================== */

.tm-heading {
    margin: 0;
    color: @global-contrast-color;
}


/* Navbar
 ========================================================================== */

.tm-navbar {
    margin-top: -(@navbar-nav-height);
    margin-left: -(@navbar-nav-padding-horizontal);
}


/* Contrast
 ========================================================================== */

.tm-contrast a { color: rgba(255,255,255,0.7); }

.tm-contrast a:hover { color: @global-contrast-color; }


/*
 * Icon Hover
 */

.tm-contrast .uk-icon-hover { color: rgba(255,255,255,0.5); }

.tm-contrast .uk-icon-hover:hover { color: @global-contrast-color; }


/* Dropdown
 ========================================================================== */

[data-uk-dropdown*='click'] { cursor: pointer; }

/*
 * Dropdown with Sortable Icons
 */

.tm-dropdown {
    padding: 35px;
    width: 400px;
}

.tm-sortable-dragged .pk-panel-icon {
    background: @dropdown-background;
    border: 1px solid @global-border;
    border-radius: 3px;
}


/* Main
 ========================================================================== */

.tm-main { margin-bottom: 25px; }

@media (max-width: @breakpoint-small-max) {

    .tm-main { margin-bottom: 15px; }

}


/* Pages for login, error, etc
 ========================================================================== */

/*
 * Helper class
 */

.tm-height-4-5 { height: 80%; }

/*
 * Container
 */

.tm-container {
    width: 500px;
    max-width: ~"calc(100% - 40px)";
    padding: 20px;
}

.tm-container-small { width: 300px; }
