; top-most EditorConfig file
root = true

; Unix-style newlines
[*]
end_of_line = LF

[{*.php, *.less, *.css}]
indent_style = space
indent_size = 4

[{*.js, *.json}]
indent_style = space
indent_size = 2
