**/languages/**/*.json
**/app/bundle/**/*.js
/app/vendor/*
/app/assets/*
!/app/assets/codemirror
!/app/assets/marked
!/app/assets/vue-intl
!/app/assets/vue-validator
/app/installer/assets/css/*
/app/system/modules/theme/css/*
/packages/*
/config.php
/composer.lock
/pagekit*.zip
/pagekit.db
node_modules
.DS_Store
.idea
