/extensions/*
!/extensions/blog
!/extensions/hello
!/extensions/page
!/extensions/system
/themes/*
!/themes/alpha
/vendor/*
!/vendor/assets
/vendor/assets/angular*
/vendor/assets/jquery
/vendor/assets/uikit
/config.php
/composer.phar
/composer.lock
/pagekit*.zip
node_modules
.DS_Store
.idea