**/app/bundle/**/*.js
/app/installer/assets/css/*
/app/system/modules/theme/css/*
/extensions/*
!/extensions/blog
/themes/*
!/themes/one
/themes/one/css/*
/vendor/*
!/vendor/assets
/vendor/assets/*
!/vendor/assets/codemirror
!/vendor/assets/marked
!/vendor/assets/vue-validator
/config.php
/**/composer.phar
/composer.lock
/packages.json
/pagekit*.zip
node_modules
.DS_Store
.idea
