<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On

    Options -MultiViews

    RewriteEngine On
    # RewriteBase /

    # preventing direct access to sqlite databases
    RewriteCond %{REQUEST_URI} (.*).db [NC]
    RewriteRule ^(.*)$ 404.html [R=404,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule .* index.php [L]

</IfModule>