<table class="uk-table uk-table-hover uk-table-middle">
    <thead>
        <th class="pk-table-width-minimum"><input type="checkbox" v-check-all="selected: input[name=name]"></th>
        <th colspan="2">{{ 'Name' | trans }}</th>
        <th class="pk-table-width-minimum uk-text-center">{{ 'Size' | trans }}</th>
        <th class="pk-table-width-minimum">{{ 'Modified' | trans }}</th>
    </thead>
    <tbody>

        <tr v-repeat="folders | searched" class="uk-visible-hover" v-class="uk-active: isSelected(name)" v-on="click: toggleSelect">
            <td><input type="checkbox" name="name" value="{{ name }}" v-checkbox="selected"></td>
            <td class="pk-table-width-minimum">
                <i class="pk-icon-folder-circle"></i>
            </td>
            <td class="pk-table-text-break pk-table-min-width-200"><a v-on="click: setPath(path)">{{ name }}</a></td>
            <td></td>
            <td></td>
        </tr>

        <tr v-repeat="files | searched" class="uk-visible-hover" v-class="uk-active: isSelected(name)" v-on="click: toggleSelect">
            <td><input type="checkbox" name="name" value="{{ name }}" v-checkbox="selected"></td>
            <td class="pk-table-width-minimum">
                <i v-if="isImage(url)" class="pk-icon-contain" v-lazy-background="$url(url)"></i>
                <i v-if="!isImage(url)" class="pk-icon-file-circle"></i>
            </td>
            <td class="pk-table-text-break pk-table-min-width-200">{{ name }}</td>
            <td class="uk-text-right uk-text-nowrap">{{ size }}</td>
            <td class="uk-text-nowrap">{{ lastmodified | relativeDate }}</td>
        </tr>

    </tbody>
</table>
