/* ========================================================================
   System extension
 ========================================================================== */

/* System view
 ========================================================================== */

.pk-system .uk-width { width: 125px !important; }


/* Extensions view
 ========================================================================== */

.pk-extensions-margin-3 { margin-top: 3px !important; }

.pk-extensions-margin-5 { margin-top: 5px !important; }


/* Themes view
 ========================================================================== */

.pk-themes-position { position: relative; }

.pk-themes-action {
    position: absolute;
    top: 5px;
    right: 0;
}


/* Marketplace table template
 ========================================================================== */

.pk-marketplace-panel .uk-overlay-area { border-radius: 2px; }


/* Marketplace details template
 ========================================================================== */

/*
 * Position installer buttons
 */

.uk-modal-dialog.pk-marketplace-modal-dialog { height: 600px; }

@media (max-width: 767px) {

    .uk-modal-dialog.pk-marketplace-modal-dialog {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 10px;
    }

}

.pk-marketplace-modal-action {
    position: absolute;
    top: 20px;
    right: 20px;
}


/* Dashboard view
 ========================================================================== */

.pk-weather-image {
    position: relative;
    display: inline-block;
}

.pk-weather-temperature {
    position: absolute;
    top: 0;
    right: -20px;
}