/* ========================================================================
   User extension
 ========================================================================== */

/* Fake click*/
 /*========================================================================== */

.pk-checkbox-fake {
    position:relative;
}

.pk-checkbox-fake > span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Role view
 ========================================================================== */

.pk-role-inherited > input { display: none; }

.pk-role-inherited:not(.pk-role-enabled) .pk-checkbox-fake,
.pk-role-inherited.pk-role-enabled > input { display: inline; }
