<div class="uk-form-row">
    <label for="form-title" class="uk-form-label">{{ 'Title' | trans }}</label>
    <div class="uk-form-controls">
        <input id="form-title" class="uk-form-width-large" type="text" name="node[title]" v-model="node.title" v-valid="alphaNum">
        <span class="uk-form-help-block uk-text-danger" v-show="form['node[title]'].invalid">{{ 'Invalid name.' | trans }}</span>
    </div>
</div>

<div class="uk-form-row">
    <label for="form-slug" class="uk-form-label">{{ 'Slug' | trans }}</label>
    <div class="uk-form-controls">
        <span>{{ $parent.path }}</span><br>
        <input id="form-slug" class="uk-form-width-large" type="text" name="node[slug]" v-model="node.slug" v-valid="alphaNum">
        <span class="uk-form-help-block uk-text-danger" v-show="form['node[slug]'].invalid">{{ 'Invalid slug.' | trans }}</span>
    </div>
</div>

<div class="uk-form-row">
    <label for="form-status" class="uk-form-label">{{ 'Status' | trans }}</label>
    <div class="uk-form-controls">
        <select id="form-status" class="uk-form-width-large" v-model="node.status">
            <option value="0">{{ 'Disabled' | trans }}</option>
            <option value="1">{{ 'Enabled' | trans }}</option>
        </select>
    </div>
</div>

<div class="uk-form-row">
    <span class="uk-form-label">{{ 'Options' | trans }}</span>
    <div class="uk-form-controls">
        <label><input type="checkbox" v-model="node.data.frontpage"> {{ 'Frontpage' | trans }}</label>
    </div>
</div>
